@using AllPhi.HoGent.Blazor.Dto
@using AllPhi.HoGent.Blazor.Dto.Enums

<style>
    .review {
        font-weight: bolder;
    }

        .review span {
            font-weight: normal;
        }

    .klantenportaal-info-add-new-user {
        border: 1px #2099c6 solid;
        border-radius: 5px;
        padding: 5px;
        margin-top: revert;
    }

    .wizard-steps {
        font-size: 2rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .wizard-item {
        display: flex;
        align-items: center;
    }

    .wizard-step {
        cursor: pointer;
    }

    .wizard-line {
        width: 7vw;
        height: 2px;
        background-color: #ccc;
        margin: 0 8px;
    }

    .wizard-line-active {
        background-color: #2099c6;
    }

    .wizard-step-active {
        color: #2099c6;
    }

    .wizard-step-inactive {
        color: gray;
    }
</style>

<div class="col-md-12 mb-3 wizard-steps">
    @for (int i = 0; i < 5; i++)
    {
        var step = i; // Tijdelijke variabele
        <div class="wizard-item">
            <span class="wizard-step @(step <= (int)currentStep ? "wizard-step-active" : "wizard-step-inactive")" @onclick="(step == 0 || _readyForNext) ? () => AttemptToGoToStep(step) : null ">
                <i class="@GetIconClass(step)"></i>
            </span>
            @if (i < 4) // Voeg geen lijn toe na het laatste icoon
            {
                <div class="wizard-line @(step < (int)currentStep ? "wizard-line-active" : "")"></div>
            }
        </div>
    }
</div>

@code {
    public enum WizardStep
    {
        VehicleDetail_1,
        VehicleDetail_2,
        VehicleDetail_3,
        RelatedDrivers,
        Review
    }

    private bool _readyForNext = false;

    private WizardStep currentStep = WizardStep.VehicleDetail_1;

    public string SelectedChassisNumber { get; set; } = string.Empty;
    public string SelectedLicensePlate { get; set; } = string.Empty;
    public CarBrand SelectedCarBrand { get; set; } = CarBrand.Audi;
    public FuelType SelectedFuelType { get; set; } = FuelType.Benzine;
    public TypeOfCar SelectedTypeOfCar { get; set; } = TypeOfCar.PassangerCar;
    public VehicleColor SelectedVehicleColor { get; set; } = VehicleColor.Black;
    public NumberOfDoors SelectedNumberOfDoors { get; set; } = NumberOfDoors.FiveDoors;
    public Status SelectedStatus { get; set; } = Status.Active;

    private List<DriverDto> _checkedDriver = new();

    [Parameter]
    public List<DriverDto>? Drivers { get; set; } = new();

    [Parameter]
    public EventCallback<VehicleDto> OnSave { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsFormValid();
    }


    private void IsFormValid()
    {
        if (currentStep == WizardStep.VehicleDetail_1)
        {
            if (string.IsNullOrEmpty(SelectedLicensePlate) ||
                string.IsNullOrEmpty(SelectedChassisNumber))
                _readyForNext = false;
            else
                _readyForNext = true;
        }
    }

    private async Task HandleSave()
    {
        var vehicle = new VehicleDto
            {
                Id = Guid.NewGuid(),
                ChassisNumber = SelectedChassisNumber,
                LicensePlate = SelectedLicensePlate,
                CarBrand = SelectedCarBrand,
                Color = SelectedVehicleColor,
                FuelType = SelectedFuelType,
                NumberOfDoors = SelectedNumberOfDoors,
                TypeOfCar = SelectedTypeOfCar,
                Status = SelectedStatus,
                DriversDto = _checkedDriver,
            };

        await OnSave.InvokeAsync(vehicle);
    }

    private void CheckDriverChanged(DriverDto driverDto)
    {
        if (_checkedDriver.Contains(driverDto))
            _checkedDriver.Remove(driverDto);
        else
            _checkedDriver.Add(driverDto);
    }

    private string GetIconClass(int step) => step switch
    {
        0 => "fas fa-user-edit",
        1 => "fas fa-user-tag",
        2 => "fas fa-user-check",
        3 => "fas fa-list",
        4 => "fas fa-check-circle",
        _ => ""
    };

    private void GoToStep(int step)
    {
        currentStep = (WizardStep)step;
    }

    private void AttemptToGoToStep(int step)
    {
        if (_readyForNext || step < (int)currentStep)
        {
            GoToStep(step);
        }
    }
}
